/**
**yayaoforumtop顶部
*/
.yayaoforumtop{
	position: fixed;
}
/**
**yayaoforumfoot底部
*/
.yayaoforumfoot{
	position: fixed;
}
/**
**takerPhoto
*/
.takePhoto{
	width:200px;
	height:200px;
	border:1px solid red;
}
