<!DOCTYPE HTML>
<html>
  <head>
    <title>艺术之家</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1,user-scalable=no" name="viewport" />    
    <meta name="pragma" content="no-cache">
    <meta name="cache-control" content="no-cache">
    <meta name="expires" content="0">    
    <meta name="keywords" content="艺术，刺绣，湘绣，苏绣，蜀绣，粤绣，陶瓷，琴，棋，书，画。">
    <meta name="description" content="艺术之家是一个为所有人提供生活艺术交流学习，交易买卖的平台。">
    <link href="resources/css/ionic.min.css" rel="stylesheet">
    <link href="resources/css/base.css" rel="stylesheet">
  </head>
  
  <body ng-app="App" ng-controller="AppController">
	 <!-- 顶部 -->
	 <div class="bar bar-header bar-light yayaoforumtop">
<div class="tabs tabs-icon-top ">
  <a class="tab-item balanced" href="#">
    <i class="icon ion-home"></i>
    主页
  </a>
  <a class="tab-item calm" href="#">
    <i class="icon ion-chatboxes"></i>
   消息
  </a>
  <a class="tab-item energized" href="#">
    <i class="icon ion-coffee"></i>
    论坛
  </a>
  <a class="tab-item assertive" href="#">
    <i class="icon ion-person-stalker"></i>
    好友
  </a>
  <a class="tab-item royal" href="#">
    <i class="icon ion-person"></i>
   我
  </a>
</div>
</div>
<!-- 顶部 end-->
    1<br/>
    1<br/>
    1<br/>
    1<br/>
    1<br/>
    1<br/>
    1<br/>
    1<br/>
    1<br/>
    1<br/>
    1<br/>
    1<br/>
    1<br/>
    1<br/>
    1<br/>
    1<br/>
    1<br/>
    1<br/>
    1<br/>
    1<br/>
    1<br/>
 <img ng-click="takePhoto()" ng-src="{{imageSrc}}" class="takePhoto"/>

    1<br/>
    1<br/>
    1<br/>
    1<br/>
    1<br/>
    1<br/>
    1<br/>
    1<br/>
    1<br/>
    1<br/>
    1<br/>
    1<br/>
    1<br/>
    1<br/>
    1<br/>
    1<br/>
    1<br/>
    1<br/>
    1<br/>
    1<br/>
    1<br/>
    1<br/>
    1<br/>
    1<br/>
    1<br/>
    1<br/>
    1<br/>
    1<br/>
    1<br/>
    1<br/>
    1<br/>
    1<br/>
    1<br/>
    1<br/>
    1<br/>
    1<br/>
    1<br/>
    1<br/>
    2<br/>
    2<br/>
    2<br/>
    2<br/>
    2<br/>
    2<br/>
    2<br/>
    2<br/>
    2<br/>
    2<br/>
    2<br/>
    2<br/>
    2<br/>
    2<br/>
    2<br/>
    2<br/>
    2<br/>
    2<br/>
    2<br/>
    2<br/>
    2<br/>
    2<br/>
    2<br/>
    2<br/>
    2<br/>
    2<br/>
    2<br/>
    2<br/>
    2<br/>
    2<br/>
    2<br/>
    2<br/>
    2<br/>
    2<br/>
    2<br/>
    2<br/>
    2<br/>
    2<br/>
    2<br/>
    2<br/>
    2<br/>
    2<br/>
    2<br/>
    2<br/>
    2<br/>
    2<br/>
    2<br/>
    2<br/>
    2<br/>
    2<br/>
    2<br/>
    2<br/>
    <div ng-click="test()" class="takePhoto">{{aaa||"错误"}}</div>
<!-- 底部 -->
	 <div class=" tabs tabs-icon-top yayaoforumfoot">
  <a class="tab-item balanced" href="#">
    <i class="icon ion-home"></i>
    主页
  </a>
  <a class="tab-item calm" href="#">
    <i class="icon ion-chatboxes"></i>
   消息
  </a>
  <a class="tab-item energized" href="#">
    <i class="icon ion-coffee"></i>
    论坛
  </a>
  <a class="tab-item assertive" href="#">
    <i class="icon ion-person-stalker"></i>
    好友
  </a>
  <a class="tab-item royal" href="test.html">
    <i class="icon ion-person"></i>
   我
  </a>
</div>
<!-- 底部 end-->
<script type="text/javascript" src="resources/js/ionic.bundle.min.js"></script>
<script type="text/javascript" src="resources/js/ng-cordova.min.js"></script>
<script  src="cordova.js"></script>
<script>
 var App=angular.module('App',['ionic','ngCordova']);
 App.controller('AppController',function($scope,$cordovaCamera){
 	$scope.test=function(){
 	$scope.aaa="正确";
 	alert("dsf")
 	};
 	$scope.takePhoto=function(){
            var options = {
              destinationType: Camera.DestinationType.FILE_URI,
              sourceType: Camera.PictureSourceType.CAMERA,
            };
            $cordovaCamera.getPicture(options).then(function(imageURI) {
              alert(imageURI);
              $scope.imageSrc= imageURI;
            }, function(err) {
              // error
            });
   };
 });
</script>
</body>
</html>